
  <%- include('includes/head.ejs') %>
  <body>
    <%- include('includes/navbar.ejs', {path: path}) %>
    <main>
      <h1>Some error occurred!</h1>
      <p>I might fix it later idk</p>

    </main>
  </body>
</html>
